<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <style>

    </style>
</head>
<body ng-controller="demo">
    <div>
        <form name="myForm" class="css-from" novalidate>
            <!--下面是整数-->
            <div>
                整数(0-10):
                <input type="number" ng-model="size" name="size" min="0" max="10" integer/>
                {{size}}
                <br/>

                <span ng-show="myForm.size.$error.integer">不是合法的整数!</span>
                <span ng-show="myForm.size.$error.min || myForm.size.$error.max">数值必须位于0到10之间</span>
            </div>
            <!--下面必须是浮点数-->
            <div>
                浮点数：
                <input type="text" ng-model="length" name="length" smart-float>
                {{length}}
                <br/>
                  哈哈  {{myForm.size.$error}}
                <span ng-show="myForm.length.$error.float">不是合法的浮点数！</span>
            </div>
            <!--下面是远程校验-->
            <div>
                远程校验：
                <input type="text" ng-model="remote" name="remote" remote-validation />
                {{remote}}
                <br/>
                <span ng-show="myForm.remote.$error.remote">非法数据！</span>
            </div>
        </form>
    </div>





<script src="../node_modules/angular/angular.min.js"></script>
<script>
   var app =  angular.module('app',[]);
   var INTEGER_REGEXP = /^\-?\d*/;


//   整数正则
   app.directive('integer', function () {
       return {
           require:'ngModel',
           link: function (scope, elm, attrs, ctrl) {
//               为parser这个数组头部添加一个函数
                console.log(ctrl);
                ctrl.$parsers.unshift(function (viewValue) {
                    if(INTEGER_REGEXP.test(viewValue)){
//                        调用ngModelController的$setValidity方法
                        ctrl.$setValidity('integer', true);
                        return viewValue;
//                        如果正常就返回viewValue,否则就返回undefined表示不合法
                    }else {

                        ctrl.$setValidity('integer', false);
                        return undefined;
                    }
                });
           }
       }
   });
//   浮点数指令
   var FLOAT_REGXP = /^\-?\d+((\.|\,)\d+)?$/;
   app.directive('smartFloat', function () {
       return {
           require: 'ngModel',
           link: function (scope, elm, attrs, ctrl) {
               ctrl.$parsers.unshift(function (viewValue) {
                    if(FLOAT_REGXP.test(viewValue)){
                      alert(1)
                        ctrl.$setValidity('float', true);
//                        如果满足替换掉逗号返回
                        return parseFloat(viewValue.replace(',', '.'));
                    }else {
                      alert(2)
                        ctrl.$setValidity('float', false);
                        return undefined;
                    }
               })
           }
       }
   });
//   远程校验指令
   app.directive('remoteValidation', function ($http) {
       return {
           require:'ngModel',
           link: function (scope, elm, attrs, ctrl) {
               elm.bind('keyup', function () {
                   $http({method:'GET', url:'FormValidation.jsp'})
                       .then(function (data, status, headers, config) {
                           if(parseInt(data) == 0){
                               ctrl.$setValidity('remote', true);
                           }else {
                               ctrl.$setValidity('remote', false);
                           }
                       }, function (data, status, headers, config) {
                           ctrl.$setValidity('remote', false)
                       })
               })
           }
       }
   })
//   我们可以看到这里使用了ngModelController的$parsers集合(ngModel从DOM中读取的值会被传入到$parsers函数，并依次调用其中的解析器，这是为了对值进行处理和修饰)，同时把验证函数放入到这个集合中，这个验证函数唯一的参数就是指令所有的元素的输入内容!同时我们可以学习到这里使用了$setValidity方法，如下面这种方式：
   app.controller('demo', ['$scope', function($scope){}])

</script>
</body>
</html>
