<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> ui-router</title>
</head>
<body ng-app="app">
  <div ng-controller="demoCtrl">
    <form action="">
    <!-- ng-repeat="n in firstname.key" -->
        <input type="text" ng-model="firstname.key[0].name" >
        {{firstname}}
    </form>
  </div>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-ui-router/release/angular-ui-router.js"></script>
  <script>
      var app = angular.module('app', []);
      app.controller('demoCtrl',['$scope', '$log', function($scope, $log){
          $scope.firstname = {
              key : [{
                name : 'tangguodong'
              }]
          }
      }])
        
 </script>  
</body>
</html>
